.client-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.client-detail-loading {
  flex: 1;
  padding: 16px;
  display: flex;
}

.custom-cell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.custom-cell .e-icons {
  font-size: 0.8rem;
}

.val-up-icon::before {
  content: '\e82a';
}

.val-down-icon::before {
  content: '\e83d';
}